body {
  padding: 20px;
}

.App {
  display: grid;

  grid-template-columns: 5fr 2fr;
  grid-gap: 20px;
}

.sidebar {
  background: #eee;
  height: 100%;
  padding: 20px;
}

.options {
  height: 100%;
  display: grid;
  grid-gap: 20px;
}

.option {
  border: 3px solid black;
  padding: 2em;
  cursor: pointer;
}

.option.related {
  background: rgba(0, 0, 255, .5);
}

.option.selected, .option.viewed {
  background: yellow;
}

.option.disabled {
  opacity: .5;
  cursor: default;
}

.option.hidden {
  display: none;
}
