.App {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 300px;
  height: 100vh;
  background: #eee;
}

.options {
  max-width: 700px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 140px);
  cursor: pointer;
}

.option {
  border: 3px solid black;
  padding: 2em;
}

.option.selected {
  background: yellow;
}

.option.disabled {
  opacity: .5;
  cursor: default;
}

.option.hidden {
  display: none;
}
